<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
</head>
<body style="text-align: center; padding: 100px;">
    <h3>Register</h3>
<form action="register" method="post">
    邮箱:<input type="text" name="email" id="email"></br>
    密码:<input type="password" name="password"></br>
<!--    re密码:<input type="password" name="password"></br> -->
    <button value="register">注册</button>
</form></br>
    <p>{{.Tip}}</p>
</body>
</html>